OPENAI_API_KEY=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
DATABASE_URL=postgresql://postgres:2025@localhost:5432/Material_advisor_local_llm_test
PER_FILE_MODE=true
PER_FILE_OUTPUT_DIR=./per_file_sanitized
DEEPSEEK_OCR_2_SERVER_BASE_URL=http://localhost:3002
LOCALLY_HOSTED_LLM_BASE_URL2=http://localhost:11434
LOCALLY_HOSTED_LLM_BASE_URL=https://4827-2402-e280-4117-98-706b-239a-7134-2da4.ngrok-free.app

DEEPSEEK_OCR_STREAMING=true
OCR_OUTPUT_SAVE=true
OCR_OUTPUT_SAVE_OUTPUT_DIR=./ocr_streams

RAW_LLM_SAVE=true
RAW_LLM_SAVE_OUTPUT_DIR=./raw_llm_save

# DEEPSEEK_OCR_2_SERVER_BASE_URL=http://localhost:3002
